body {
  font-family: 'Helvetica', sans-serif;
  padding: 30px;
}
h1 {
  font-size: 4em;
  margin: 0;
}
h2 {
  font-size: 3em;
  margin: 0;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}
div[role=presentation] {
  display: none;
}
.intro,
.sidebar>.wrapper,
.sidebar>.wrapper .design-selection nav ul,
footer {
  width: 100%;
}
.supporting .explanation,
.supporting .participation,
.supporting .benefits,
.supporting .requirements {
  width: 45%;
  padding: 10px;
}
.intro {
  text-align: center;
}
.intro {
  margin-left: auto;
  margin-right: auto;
}
.intro {
  padding: 10px;
}
body p>a,
footer a {
  border-radius: 0 50%;
}
.sidebar>.wrapper .design-selection nav ul,
footer {
  list-style: none;
}
.sidebar>.wrapper .design-selection nav ul >a,
footer >a,
.sidebar>.wrapper .design-selection nav ul >li,
footer >li {
  display: inline-block;
  margin-left: 5px;
  background-color: #ffa500;
  padding: 10px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}
.sidebar>.wrapper .design-selection nav ul >a:hover,
footer >a:hover,
.sidebar>.wrapper .design-selection nav ul >li:hover,
footer >li:hover {
  background-color: #008000;
}
.sidebar>.wrapper .design-selection nav ul >a:nth-child(1),
footer >a:nth-child(1),
.sidebar>.wrapper .design-selection nav ul >li:nth-child(1),
footer >li:nth-child(1) {
  margin-left: 0px;
}
body {
  background-color: #fff;
  background-image: linear-gradient(#299bc1 2px, transparent 2px), linear-gradient(90deg, #299bc1 2px, transparent 2px), linear-gradient(rgba(41,155,193,0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(41,155,193,0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
body p>a,
footer a {
  color: #87cefa;
  -webkit-background: linear-gradient(75deg, #ffc0cb, #fff);
  -moz-background: linear-gradient(75deg, #ffc0cb, #fff);
  -ms-background: linear-gradient(75deg, #ffc0cb, #fff);
  background: linear-gradient(75deg, #ffc0cb, #fff);
  padding: 8px;
  margin: 15px;
}
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  background-color: #6d586d;
  color: #aeb4db;
  font-family: 'Karla', sans-serif;
}
body p>a:nth-child(odd) {
  border-radius: 50% 0;
}
body h1,
body h2,
body h3 {
  font-family: 'Pacifico', cursive;
}
body h3 {
  color: #ffd4dc;
}
.intro {
  margin-top: 250px;
}
.supporting .explanation,
.supporting .benefits {
  float: left;
}
.supporting .participation,
.supporting .requirements {
  float: right;
}
.sidebar>.wrapper div {
  float: right;
  width: 20%;
}
.sidebar>.wrapper div ul li a {
  text-decoration: none;
  color: #87cefa;
}
.sidebar>.wrapper .design-resources {
  float: left;
}
.sidebar>.wrapper .design-selection {
  width: 100%;
  height: 250px;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-background: linear-gradient(75deg, #e6e6fa, #ffc0cb);
  -moz-background: linear-gradient(75deg, #e6e6fa, #ffc0cb);
  -ms-background: linear-gradient(75deg, #e6e6fa, #ffc0cb);
  background: linear-gradient(75deg, #e6e6fa, #ffc0cb);
  color: #6d586d;
}
.sidebar>.wrapper .design-selection h3 {
  text-align: center;
  color: #6d586d;
}
.sidebar>.wrapper .design-selection nav ul li {
  color: #6d586d;
  -webkit-background: linear-gradient(75deg, #ffc0cb, #fff);
  -moz-background: linear-gradient(75deg, #ffc0cb, #fff);
  -ms-background: linear-gradient(75deg, #ffc0cb, #fff);
  background: linear-gradient(75deg, #ffc0cb, #fff);
  width: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 0 50%;
}
.sidebar>.wrapper .design-selection nav ul li:nth-child(even) {
  border-radius: 50% 0;
}
.sidebar>.wrapper .design-selection nav ul a {
  color: #6d586d;
  text-decoration: none;
}
footer {
  float: left;
  width: 50%;
}
footer a {
  border-radius: 50% 0;
  margin-top: 20%;
}
