div[role=presentation]{
  display: none;
}

$spacey{
    margin: 70px;
}

$full-height{height: 100%;}
$half-height{height: 50%;}

$full-width {width: 100%;}
$three-quarter-width {width: 75%;}
$half-width { width: 45%; padding: 10px}
$quarter-width {width: 25%; padding: 10px}

$left {float: left;}
$right {float: right;}
$clear {clear: both;}

$text-center {text-align: center; }
$text-left { text-align: left;}
$text-right { text-align: right;}
$center-margin{margin-left: auto; margin-right: auto;}


//_______________________________________________NEU STUFF-----
$row{
  display: inline-block;
  background-Color: orange;
  margin-right: 5px;
  vertical-align: top;
}


v-ladder-rung-block(width)
  display: block;
  background-Color: pink;
  margin-bottom: 10px;
  width: unit(width, '%');
  list-style: none;
//  :first-child
//  margin-top: 10px;
  
  
h-train-car-inline(width, m, p)
  display: inline-block;
  // w = floor(width/number);
  //mPercent = ceil(width/m);
  //wPercent = w - mPercent;
  //width: unit(wPercent, '%');
  //width: unit(floor(width/number), '%');
  margin-right: m px;
  width: unit(width, '%');
  vertical-align: top;
  padding: p px;
  //:first-child
  //  margin-left: m px;



$banner{
  @extends $full-width;
  @extends $center-margin;
  @extends $text-center;
  padding: 10%;
}


