div{
 
    
}

body{
    font-family: 'Helvetica', sans-serif;
    padding: 30px;
}

ul{
    //padding: 0px;
}


h1{
    font-size: 4em;
     margin: 0;
 
}

h2{
    font-size: 3em;

}

h3{
    font-size: 1.5em;
    
}

p{
    font-size: 1em;
}
    



